[Desktop Entry]
Version=1.0
Terminal=false
Exec=blackbox
Icon=blackbox
Type=Application
Categories=Game;LogicGame;
Name=Black Box
Comment=Deduce the positions of the balls by firing lasers
Comment[fr]=Déduire la position des balles en tirant un laser
Comment[de]=Leite die Positionen von Bällen durch Feuern von Lasern her
