[Desktop Entry]
Version=1.0
Terminal=false
Exec=guess
Icon=guess
Type=Application
Categories=Game;LogicGame;
Name=Guess
Comment=Game similar to the famous 'Mastermind'
Comment[fr]=Jeu similaire au 'Mastermind'
Comment[de]=Spiel ähnlich zum berühmten »Mastermind«
