[Desktop Entry]
Version=1.0
Terminal=false
Exec=keen
Icon=keen
Type=Application
Categories=Game;LogicGame;
Name=Keen
Comment=Game based on KenKen
Comment[de]=Auf KenKen basierendes Puzzlespiel
