[Desktop Entry]
Version=1.0
Terminal=false
Exec=pearl
Icon=pearl
Type=Application
Categories=Game;LogicGame;
Name=Pearl
Comment=Game based on Masyu
Comment[de]=Auf Masyu basierendes Spiel
