[Desktop Entry]
Version=1.0
Terminal=false
Exec=range
Icon=range
Type=Application
Categories=Game;LogicGame;
Name=Range
Comment=Fill the grid so the range of each numbered square matches the number
Comment[de]=Füllen des Gitters, so dass die Reichweite jedes nummerierten Quadrates zu der Zahl passt
